html, body{
	margin: 0px
}

header{
	background-image:url(https://images.pexels.com/photos/4033578/pexels-photo-4033578.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
background-color:#E9967A;
    max-width:100%;
    height:auto;
}

h1{
	font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 50px;
    font-weight: bold;
    font-size: 30px !important;
}
header img{
	position: relative;
	top: 30px;
    height: auto;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 180px;
    border: 15px solid #CD5C5C;

}
.content{
max-width: auto;
margin: auto; 
background: linear-gradient(35deg, #ccffff, #ffcccc);
text-align: justify;
justify-content: center;
font-family: 'Raleway', sans-serif;
padding-left: 10px;
padding-right: 10px;
display: flex;
flex-direction: column;
}
img.foto-grande{
	max-width: 100%;
	width: 600px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.caption{
	text-align: center;
	font-style: italic;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
}
.last {
	background-color: #FADBD8;
	padding-bottom: 10px;
}
.maledetto {
	padding-bottom: 30px;
	padding-top:20px;
}
h2{
	text-align: center;
	font-style: italic;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 30px;
	background-color: white;
	justify-content: center;
	}
p{
	text-align: center;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
}
ol, ul{
	text-align: center;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 20px;
}
footer{
	text-align: center;
	font-size: 17px;
	padding: 15px;
	display: flex;
	flex-direction: column;
}
.quote{
	text-align: center;
	font-size: 18px;
	font-style: italic;
	font-family: 'Raleway', sans-serif;
}

li{
	font-family: 'Raleway', sans-serif;
	list-style:none;
	text-align: center;
	}