html, body{
	margin: 0px
}

header{
	background-image:url(https://images.pexels.com/photos/358904/pexels-photo-358904.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
background-color:#E9967A;
padding:30px;
}
h1{
	font-style: italic;
	font-size: 30px
	color:#556B2F;
	text-align: center;
}
header img{
    height:auto;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 180px;
    border: 15px solid #CD5C5C;
}
.content{
max-width: auto;
margin: auto; 
background-color: #FFCD90;
padding: 20px;
text-align: justify;

}
img.foto-grande{
	max-width: 100%;
	width: 600px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.caption{
	text-align: center;
	font-style: italic;
	font-size: 17px;
}
h2{
	text-align: center;
	font-style: italic;
	font-size: 26px;
}
p{
	text-align: center;
	font-size: 17px;
}
ol, ul{
	font-size: 17px;
}
footer{
	text-align: center;
	font-size: 17px;
	padding: 15px;
}
.quote{
	text-align: center;
	font-size: 18px;
	font-style: italic;
}

li{
	list-style:none;
	text-align: center;
	}