html, body{
	margin: 0px
}

header{
	background-image:url(https://images.pexels.com/photos/358904/pexels-photo-358904.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
background-color:#E9967A;
padding:30px;
}
h1{
	font-family: 'Raleway', sans-serif;
	font-size: 30px
	color:#556B2F;
	text-align: center;
}
header img{
    height:auto;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 180px;
    border: 15px solid #CD5C5C;
}
.content{
max-width: auto;
margin: auto; 
background: linear-gradient(35deg, #ccffff, #ffcccc);
text-align: justify;
font-family: 'Raleway', sans-serif;


}
img.foto-grande{
	max-width: 100%;
	width: 600px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.caption{
	text-align: center;
	font-style: italic;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
}
.last {
	background-color: #F5B7B1;
	padding-bottom: 10px;
}
.maledetto {
	padding-bottom: 20px;
}
h2{
	text-align: center;
	font-style: italic;
	font-size: 26px;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 20px;
	background-color: white;
	justify-content: center;
}
p{
	text-align: center;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
	
}
ol, ul{
	text-align: center;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 20px;
}
footer{
	text-align: center;
	font-size: 17px;
	padding: 15px;
}
.quote{
	text-align: center;
	font-size: 18px;
	font-style: italic;
	font-family: 'Raleway', sans-serif;
}

li{
	font-family: 'Raleway', sans-serif;
	list-style:none;
	text-align: center;
	}